/* GOOGLE IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');

/* font-family: 'Cormorant Garamond', serif; */
/* font-family: 'Abril Fatface', cursive; */

* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    text-decoration: none;
}


body, html {
    height: 100%;
}

                /*NAV BAR STARTS HERE*/
header{
    min-width: 0;
    background-color: transparent;
    position: relative;
    /* z-index: 999; */
    width: 100%;
}

.header-row1{
    position: relative;
    height: 70px;
    z-index: 2;
}

.nav-logo {
    display: block;
    margin: 12px auto 0;
    width: 120px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/StalwartLogo.png);
  }

/* Start of Dropdown Button */
.dropbtn {
    background-color: #000000;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    margin: 8px;
}

.dropdown {
    position: absolute;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #00000033;
    padding: 1px 0px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #800080;
    cursor: pointer;
}
/* End of Dropdown Button */

.header-row2{
    position: relative;
    text-align: center;
    padding: 8px;
    border-top: 3px solid #800080;
    background-color: #f3f3f3;
    color: #ffffff;
    height: 40px;
    z-index: 1;
}

/* .subscribe{
    padding: 10px;
} */

            /*NAV BAR ENDS HERE*/


.img-rounds{
    border-radius: 50%;
}

.ffloat-left{
    float: left;
}

.editor{
    width: 40%;
    margin-top: 150px;
}

.editor-h{
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
}

.editor-img{
    float: left;
    margin-right: 10px;
}

.editor-letter{
    text-align: justify;
}

.cover{
    width: 50%;
    margin-left: 120px;
}

.cover-img{
    float:right
}

.clearfix1{
    clear: left;
}

.bottom-content{
    margin-top: 50px;
}

.img-square{
    width: 250px;
    height: 250px;
}

.sfloat-left{
    float: left;
}

.featured-stories{
    width: 40%;
}

.fs-title{
    margin-bottom: -5px;
}

.fs-img{
    float: left;
    margin-right: 10px;
    margin-bottom: 30px;
}

.fs-snippet{
    text-align: justify;
}

.fs-titles{
    font-size: 20px;
    margin-top: -5px;
    margin-bottom: 5px;
}

.other-stories{
    /* width: 50%;
    margin-left: 100px; */
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.os-titles{
    font-size: 20px;
    margin-top: -5px;
    width: 260px;
}

.clearfix2{
    clear: left;
}

.pub{
    text-align: center;
    padding: 8px;
}

.pub-h{
    font-family: 'Abril Fatface', cursive;
    font-size: 25px;
    margin-bottom: 10px;
}

            /*START OF ABOUT PAGE*/
.hero-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.596)), url(../img/Toledo.jpg);
    height: 60%;
    background-position: 10% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
}

.hero-text{
    position: absolute;
    text-align: center;
    top: 45%;
    left: 42%;
    font-size: 30px;
    color: #ffffff;
}

.our-story{
    padding: 50px 400px 0px;
    text-align: justify;
}

.our-header{
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
}

.the-team{
    background-color: #cacaca;
    margin-top: 70px;
}

.team-header{
    font-size: 40px;
    padding-top: 15px;
    padding-left: 8px;
    /* text-decoration: solid #000000; */
}

.column {
    float: left;
    width: 25%;
    margin-bottom: 20px;
    padding: 0 8px;
    /* background-color: #ffffff; */
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  /* @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  } */
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.432);
    background-color: #ffffff;
  }
  
  .container {
    padding: 0px 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
    padding-top: -15px;
  }

            /*END OF ABOUT PAGE*/

            /* FOOOTER STARTS HERE*/
footer{
    min-width: 0;
    background-color: #d3d1d1;
    position: relative;
    /* z-index: 999; */
    width: 100%;
}

