/* GOOGLE IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');

/* font-family: 'Cormorant Garamond', serif; */
/* font-family: 'Abril Fatface', cursive; */

* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    text-decoration: none;
}

/* body {
    height: 100%;
} */

                /*NAV BAR STARTS HERE*/

/* .top-nav{
    block-size: ;
} */

.nav-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }

/* Dropdown Button */
.dropbtn {
    background-color: #000000;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    margin: 8px;
}

/* The container <nav> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #00000033;
    padding: 1px 0px;
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #800080;
}

.navbar{
    background-color: #d3d3d3;
    height: 55px;
}

.subscribe{
    text-align: center;
    text-decoration: none;
    margin-left: 600px;
}
            /*NAV BAR ENDS HERE*/


.img-rounds{
    border-radius: 50%;
}

.ffloat-left{
    float: left;
}

.editor{
    width: 40%;
}

.editor-h{
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
}

.editor-img{
    float: left;
    margin-right: 10px;
}

.editor-letter{
    text-align: justify;
}

.cover{
    width: 50%;
    margin-left: 120px;
}

.cover-img{
    float:right
}

.clearfix{
    clear: left;
}

            /* FOOOTER STARTS HERE*/
footer{
    background-color: lightgray;
    height: 35px;
    text-align: center;
}

